@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, synthwave, cupcake, forest, corporate, dim, night;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
